DATABASE_URL="file:./dev.db"
SESSION_SECRET="replace-with-at-least-32-random-characters"
SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASSWORD=""
REVIEWER_EMAIL="reviewer@ceeabem.org"
TREASURER_EMAIL="treasurer@ceeabem.org"
